<div class="modal-header">
    <h3 class="modal-title">Add new expense</h3>
</div>
<div class="modal-body">
    <form>
        <div>
            <div class="label label-primary">Name</div>
            <input class="form-control"  type="text" ng-model="model.Name">
        </div>
        <div>
            <div class="label label-primary">Note</div>
            <textarea class="form-control"  ng-model="model.Note"></textarea>
        </div>
        <div>
            <div class="label label-primary">Amount</div>
            <input class="form-control" ng-model="model.Amount" type="number" />
        </div>
        <div>
            <div class="label label-primary">Date</div>
            <input class="form-control" ng-model="model.Date" type="date" />
        </div>
        <div>
            <div class="label label-primary">Category</div>
            <select class="form-control" ng-model="model.CategoryId"
                    ng-options="type.Id as type.Name for type in categories"
                    style="width:100%"></select>
        </div>
        <div>
            <div class="label label-primary">Image</div>
            <input type="file" ng-file-select="onFileSelect($files)" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save income</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>