<div class="panel panel-default">
    <div class="panel-heading">Bills</div>
    <div class="panel-body">
        <div class="btn btn-sm btn-success" ng-click="addBill()">Add bill</div>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Deadline</th>
                    <th>Amount</th>
                    <th>Reccuring</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bill in bills">
                    <td>{{bill.Name}}</td>
                    <td>{{bill.Note}}</td>
                    <td>
                        <img style="height: 64px; width: 64px" ng-src="{{'api/common/getImage/' + bill.Image}}" alt="/api/common/getImage/Other%20income" />
                    </td>
                    <td>
                        {{bill.Category.Name}}
                    </td>
                    <td>{{bill.Deadline}}</td>
                    <td>{{bill.Amount}}</td>
                    <td>{{bill.ReccuringInterval}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>