<div class="panel panel-default">
    <div class="panel-heading">Category</div>
    <div class="panel-body">
        <div class="btn btn-sm btn-success" ng-click="addCategory()">Add Category</div>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cat in categories">
                    <td>{{cat.Name}}</td>
                    <td>
                        <img style="height: 32px;" ng-src="{{'api/common/getImage/' + cat.Image}}" alt="{{cat.Name}}" />
                    </td>
                    <td>
                        {{cat.Type}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>