<div class="panel panel-default">
    <div class="panel-heading">Incomes</div>
    <div class="panel-body">
        <div class="btn btn-sm btn-success" ng-click="addIncome()">Add Income</div>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Note</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in incomes">
                    <td>{{item.Name}}</td>
                    <td>{{item.Note}}</td>
                    <td>
                        <a href="#" class="thumbnail">
                            <img style="height: 180px" ng-src="{{'api/common/getImage/' + item.Image}}" alt="{{item.Name}}" />
                        </a>
                    </td>
                    <td>
                        {{item.Category.Name}}
                    </td>
                    <td>{{item.Amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>